.body_error {
    color: red;
}
.title_error {
    color:red;
}
.error{
    color: red;
}
.post-author{
    font-size: .75em;
}
.app-content{
    padding-left: 10%;
    padding-right: 10%;
}
h1 {
    text-align: center;
}
form div{
    margin: 1.5em;
}
a{
    color: fuchsia;
}
body{
}
html{
}