<!Doctype html>
<html>
    <head>
        <title>Blogz</title>

        <link type="text/css" rel="stylesheet" href="stylesheet.css">

    </head>
    <body>
        <div stlyle='float: left'>
            <a href="/">Home</a> | <a href="/blog">All Posts</a> | 
            {% if 'user' in session %}
                <a href="/newpost">New Post</a> | 
            {% endif %}
        </div>
        <div style='float: right'>
            {% if 'user' in session %}
                {{ session['user'] }}
                <form action="/logout" method="post" id='logout'>
                    <input type="submit" value="Log Out" />
                </form>
            {% else %}
                <a href="/login">login</a> | <a href="/signup">register</a>
            {% endif %}
          </div>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                    <li class="{{category}}">{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %} 
        {% endblock %}

    </body>
</html>