{% extends 'base.html' %}

{% block content %}
    <h1>{{page_title}}</h1>

    <hr/>

    {% if blogs|length == 0 %}
    <p>Nothing here yet!</p>

    {% else %}
        {% for post in blogs %}
        <form>
            {% if page_title != post.title %}
            <h2><a href="/blog?blog_id={{post.id}}">{{post.title}}</a></h2>
            <input type='hidden'value='{{post.id}}'name='blog_id'/>
            {% endif %}
        </form>

        <p> {{post.body}} </p>

            {% if authors|length == 1 %}
                <p class='post-author'><i>written by <a href='/blog?userId={{authors[0].id}}'>{{authors[0].email}}</a></i></p>
                <hr/>
            {% else %}
                {% for author in authors %}
                    {% if post.owner_id == author.id %}
                        <p class='post-author'><i>written by <a href='/blog?userId={{author.id}}'>{{author.email}}</a></i></p>
                        <hr/>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

    {% endif %}

{% endblock %}