{% extends "base.html" %}

{% block content %}

    <h1>{{page_title}}</h1>

    <hr/>

    <form action="/login" method="post">
        <table>
            <tbody>
                <tr>
                    <te>
                        <input name="email"type="email" value="{{ email }}"/>
                    </te>                    
                    <tel>
                        <label for="email">Email</label>
                    </tel>

                </tr><br>
                <tr>
                    <te>
                        <input name="password"type="password"/>
                    </te>
                    <tel>
                        <label for="password">Password</label>
                    </tel>
                </tr><br>
            </tbody>
        </table>
        <input type="submit" value="Submit"/>
    </form>
    
{% endblock %}